* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0px;
    padding: 0px;
    
}

/*ナビゲーション*/
header {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}
.profile {
    border: 1px solid black;
    margin: 0 0 0 20px;
    padding: 0 20px;
    font-size: 34px;
}

.nav-pc {
    display: flex;
    justify-content: right;
}

.nav-pc h1:nth-of-type(2) {
    margin-left: 30px;
}



/*カメラの写真*/
#camera-photo {
    width: 100%;
    margin: 0 auto;
}

/*About*/
#About {
    margin: 20px auto;
    max-width: 960px;
}
#About h1 {
    font-size: 34px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

#About > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.about-description {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 40px;
}

#About img {
    width: 280px;
    height: 280px;
    border-radius: 140px;
}

/*Works*/

#Works {
   margin: 0 auto;
   max-width: 960px;
   padding-bottom: 40px;
   
}

#Works h1 {
    font-size: 34px;
    text-align: center;
}

#Works > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nature {
    margin: 0px 10px;
    width: 30%;
}


.nature-photo-2 {
    margin: 0 10px;
}

/*フッター*/

footer {
    text-align: center;
    font-size: 18px;
}


/*スマホ用レイアウト*/
@media screen and (max-width: 767px) {
   h1,h2 {
    font-size: 28px;
   }
   h2 {
    padding: 30px 0 20px;
   }

   li {
    margin: 0 10px;
   }

   nav a {
    font-size: 21px;
  }

  img {
    width: 100%;
  }

  .nature {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }
}